n8n_workflow.json
{
  "name": "Local Lead Automation Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/summarize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            }
          ]
        },
        "options": {}
      },
      "name": "AI Summarize Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/saveSheet",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.body.name }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.message }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save To Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Summarize Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize Lead": {
      "main": [
        [
          {
            "node": "Save To Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
